# Environment
venv/

# Compiled models
model/*.pt

# Exported files
model/.ipynb_checkpoints/
model/*.tex
model/*.aux
model/*.log
model/*.out
model/*.synctex.gz
model/dog_app_files/

# Datasets
model/dog_images/
model/human_files/

# Uploaded files
dog_app/uploads

# IDE and OS
.idea/
.DS_Store
