# Environment
dog_env/

# Compiled models
*.pt

# Exported files
.ipynb_checkpoints/
*.aux
*.log
*.out
*.synctex.gz
dog_app_files/

# Datasets
dog_images/
human_files/

# Uploaded files
dog_app/uploads

# IDE
.idea/