<!DOCTYPE html>
<html lang="en">
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% for file in files %}
      <img src="{{ url_for('uploaded_file', filename=file) }}" style="width: 1000px">
    {% endfor %}
  </body>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Result</title>-->
<!--    <style>-->
<!--    table {-->
<!--      width:100%;-->
<!--      background-color: #F5F5F5;-->
<!--    }-->
<!--    th, td {-->
<!--      padding: 15px;-->
<!--      text-align: left;-->
<!--    }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <table>-->
<!--        <thead><tr><th>Uploaded Image</th><th>Predicted dog breed</th></tr></thead>-->
<!--        <tbody>-->
<!--            <tr><td>Name1</td><td>Description1</td></tr>-->
<!--            <tr><td>Name2</td><td>Description2</td></tr>-->
<!--            <tr><td>Name3</td><td>Description3</td></tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</body>-->
</html>